
/* Start welcome */
.welcome {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.welcome .top-side {
  display: flex;
  position: relative;
  background-color: #eee;
  height: 50%;
  margin: -10px;
  padding: 10px;
  position: relative;
}



.welcome .top-side img {
  width: calc(100% / 2);
  height: calc(100% / 1.5);
  position: absolute;
  right: 10px;
  top: 10px;
}



.welcome .bottom-side {
  display: flex;
  flex-direction: column;
  height: 57%;
  position: relative;
  justify-content: center;
}

.welcome .bottom-side::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(99, 94, 94, 0.212);
}

.welcome .bottom-side::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(99, 94, 94, 0.212);
}

.welcome .profile-img {
  position: absolute;
  top: -10px;
}

.welcome .bottom-side .center-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

/* End welcome */

/* Start quick draft */

.quick-draft {
  display: flex;
  flex-direction: column;
}

.bottom-quick {
  position: relative;
  height: 100%;
}

.bottom-quick form{
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px 0px;
}

.bottom-quick form input {
  border: 0px;
  background-color: #eee;
  border-radius: 5px;
  padding: 0px 10px;
  outline: none;
  width: 100%;
  display: flex;
}

.bottom-quick form input {
  height: 35px;
  margin-bottom: 20px;
}

textarea {
  border: 0px;
  background-color: #eee;
  border-radius: 5px;
  height: 120px !important;
  width: 100%;
  padding: 10px 10px;
  resize: none;
  outline: none;
  font-size: 12px;
}
/* End quick draft */

/* Start year target */

.yearly-target {
  display: flex;
  flex-direction: column;
}

.yearly-mid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.contan {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

.contan i {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.contan:first-of-type i {
  background-color: #0870f939;
  color: #0872f9;
}

.contan:nth-child(2) i {
  background-color: #efa21d42;
  color: #efa11d;
}

.contan:last-of-type i {
  background-color: #2dbb6641;
  color: #2dbb65;
}

.dis {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 3px;
  position: relative;
  width: 82%;
  height: 100%;
}
.dis p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.dis p:first-of-type {
  color: rgba(0, 0, 0, 0.548);
}

.dis p:last-of-type {
  font-weight: bold;
}

.dis span {
  position: absolute;
  color: white;
  /* width: 35px;
  height: 20px; */
  padding: 3px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  bottom: 15px;
}

.contan:first-of-type span {
  left: 34%;
  background-color: #0872f9;
}

.contan:nth-child(2) span {
  left: 48%;
  background-color: #efa11d;
} 

.contan:last-of-type span {
  left: 68%;
  background-color: #2dbb65;
}

.contan span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  border-style: solid;
  border-width: 5px;
}


.contan:first-of-type span::after {
  border-color: #0872f9 transparent transparent transparent;
}

.contan:nth-child(2) span::after {
  border-color: #efa11d transparent transparent transparent;
}

.contan:last-of-type span::after {
  border-color: #2dbb65 transparent transparent transparent;
}

.contan .dis::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 5px;
}

.contan .dis::after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: 5px;
}

.contan:first-of-type .dis::before {
  background-color: #0870f968;
}
.contan:nth-child(2) .dis::before {
  background-color: #efa21d68;
}
.contan:last-of-type .dis::before {
  background-color: #2dbb6668;
}

.contan:first-of-type .dis::after {
  background-color: #0870f9;
  width: 40%;
}
.contan:nth-child(2) .dis::after {
  background-color: #efa21d;
  width: 55%;
}
.contan:last-of-type .dis::after {
  background-color: #2dbb66;
  width: 75%;
}
/* End year target */

/* Start statistics */

.statistics {
  display: flex;
  flex-direction: column;
  position: relative;
}

.static-contaner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-top: 10px;
}

.status-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(98% /2);
  height: calc(95% /2);
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgba(0, 0, 0, 0.329);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.status-box i{
  font-size: 25px;
  position: absolute;
  top: 10px;
}

.status-box:first-of-type i {
  color: #d97a2d;
}

.status-box:nth-child(2) i {
  color: #2074dc;
}

.status-box:nth-child(3) i {
  color: #60c495;
}

.status-box:last-child i {
  color: #e76368;
}

.status-box h2 {
  position: absolute;
  top: 35%;
}

.status-box p {
  position: absolute;
  top: 65%;
}
/* End statistics */

/* Start latest news */

.news {
  display: flex;
  flex-direction: column;
  position: relative;
}

.bottom-news {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.box-new {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box-new:not(:last-child)::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.146);
  position: absolute;
  bottom: -10px;
}

.box-new img {
  width: 70px;
  height: 40px;
  border-radius: 5px;
}

.text-news {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.text-news h3 {
  margin: 0px;
  font-size: 13px;
}

.text-news p {
  margin: 0px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.354);
}

.text-news span {
  position: absolute;
  padding: 3px;
  background-color: rgba(128, 128, 128, 0.198);
  right: 0px;
  font-size: 10px;
  border-radius: 5px;
}

@media (max-width: 700px) {
  .box-new {
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
  }

  .box-new span {
    display: none;
  }

  .news {
    height: fit-content;
  }

  .box-new::after {
    display: none;
  }
}
/* End latest news */

/* Start Latest Tasks */

.latest-tasks {
  display: flex;
  flex-direction: column;
}

.tasks-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.text-tasks {
  display: flex;
  flex-direction: column;
  position: relative;
}

.text-tasks:not(:last-child)::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.146);
  position: absolute;
  bottom: 0px;
}

.text-tasks h4 {
  margin: 0px;
}
.text-tasks p ,
.del{
  margin: 3px 0px 3px 0px;
  color: rgba(0, 0, 0, 0.407);
}

.text-tasks i {
  position: absolute;
  right: 0px;
  cursor: pointer;
}
/* End Latest Tasks */

/* Start Top Search Items */

.top-search {
  display: flex;
  flex-direction: column;
  position: relative;
}


.search-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.search-text p {
  margin: 0px;
}

.on-right,
.on-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.on-left {
  align-items: flex-end;
}

.on-left p:not(.dif) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: rgba(128, 128, 128, 0.198);
  width: 35px;
  font-size: 12px;
  border-radius: 5px;
}

.dif {
  color: rgba(0, 0, 0, 0.302);
}
/* End Top Search Items */

/* Start latest Uploads */

.uploads {
  display: flex;
  flex-direction: column;
}

.uploads .header h2{
  margin: 0px;
}

.uploads-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.contaner-uploads {
  display: flex;
  flex-direction: row;
  position: relative;
}

.contaner-uploads img {
  width: 30px;
  height: 30px;
}

.contaner-uploads .text {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 5px;
  justify-content: center;
}

.contaner-uploads:not(.last)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--button-bg-gray);
  bottom: -3px;
}

.contaner-uploads h3 ,
.contaner-uploads p {
  margin: 0px;
  padding: 0px;
}
.contaner-uploads p{
  color: rgba(0, 0, 0, 0.381);
}

.contaner-uploads h3 {
  font-size: 13px;
  font-weight: 300;
}
.contaner-uploads span {
  position: absolute;
  display: flex;
  right: 0px;
  align-items: center;
  justify-content: center;
  width: 45px;
  background-color: var(--button-bg-gray);
  border-radius: 5px;
}
/* End latest Uploads */

/* Start current project progress */
.project-progress .header h2{
  margin: 0px;
}

.project-progress{
  flex-direction: column;
  position: relative;
}

.project-progress .img-space img {
  width: 100px;
  height: 130px;
  opacity: .5;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.main-progress {
  margin-left: 45px;
  display: flex;
  height: fit-content;

}

.main-progress .text {
  display: flex;
  justify-content: space-between;
  height: 200%;
  flex-direction: column;
}

.main-progress .text p {
  margin: 0px;
  font-size: 13px;
}

.main-progress .statdge span {
  width: 20px;
  height: 20px;
  background-color: var(--twitter-bg);
  position: absolute;
  border-radius: 50%;
  left: 21px;
  border: solid 2px #fff;
  outline-color: var(--twitter-bg);
  outline-style: solid;
  outline-width: 2px;
  z-index: 1;
}

.main-progress .not-yet span {
  background-color: #fff !important;
}

.main-progress .progress span {
  animation: progress infinite alternate 1s;
  
}

@keyframes progress {
  from{
    background-color: var(--twitter-bg);
  }

  to {
    background-color: #fff;
  }
}

.project-progress .text::before {
  content: "";
  width: 2px;
  height: 50%;
  background-color: var(--twitter-bg);
  position: absolute;
  left: 30px;
  top: 56px;
}

@media (max-width: 380px) {
  .project-progress .text::before {
    top: 80px;
  }
}
/* End current project progress */