* {
  font-family:'Nunito', sans-serif;
  list-style: none;  
  /* text-decoration: none; */
  box-sizing: border-box;
}

:root {
  --button-bg-gray:rgba(0, 0, 0, 0.088);
  --twitter-bg: #0872f9;
}

body {
  background-color: #f1f5fb;
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  height: 100%;
  display: grid;
  grid-template-columns: auto repeat(3 , 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "aside header header header header header header"
    "aside main main main main main main";
  /* grid-gap: 3px; */
  overflow-y: scroll;
  transition: .5s;
  min-height: 100vh;
}
/* global */


.profile-img {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.btn {
  width: fit-content;
  border: 0px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.left-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}

.bg-color-green {
  background-color: #0274ff;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover button{
  background-color: var(--button-bg-gray);
}

textarea {
  border: 0px;
  background-color: #eee;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  padding: 10px 10px;
  resize: none;
  outline: none;
  font-size: 12px;
}

/* Start header */
header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
  /* margin: 3px; */
  grid-area: header;
  height: 50px;
}

header .right-side {
  display: flex;
  align-items: center;
}

header .right-side .fa-regular {
  position: relative;
  cursor: pointer;
  font-size: 20px;
}

header .right-side .fa-regular::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  top: -3px;
  right: -2px;
}



header .right-side img {
  width: 40px;
  margin-left: 10px;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

header form {
  position: relative;
}

header form input {
  border-radius: 10px;
  border: 1px solid #000;
  outline: 0px;
  padding-left: 25px;
  font-size: 14px;
  width: 80%;
  height: 35px;
  transition: .8s;
}

header form input[type="search"]:focus {
  width: 100%;
}
header form input[type="search"]:focus::placeholder {
  opacity: 0;
}
header form span {
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translate( -2% , -50%);
  font-size: 14px;
}

/* End header */

/* Start aside */

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  height: 100%;
  width: fit-content;
  padding: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

aside h2 {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

aside h2::after {
  position: absolute;
  content: "";
  border-bottom: solid 2px #000;
  width: 110%;
  bottom: -10px;
}

aside h2::before {
  position: absolute;
  content: "";
  border: 2px solid #fff;
  border-radius: 50%;
  bottom: -16px;
  width: 10px;
  height: 10px;
  background-color: #000;
  z-index: 1;
}

aside ul {
  padding: 0px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
}

aside li {
  position: relative;
  display: flex;

}

aside button {
  width: 150px;
  padding-left: 30px;
  border: 0px;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  padding-right: 20px;
  cursor: pointer;
  background-color: #fff;
}

.active {
  background-color: #eee;
}

aside li i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
}

@media (max-width: 490px) {
  aside {
    width: 65px;
  }

  aside button {
    display: none;
  }

  aside i {
  position: unset !important;
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
  }


  aside h2{
    font-size: 13px;
  }
}

/* End aside */

/* Start main */

main {
  grid-area: main;
  padding: 10px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(1 , auto);
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "head head head"
  "contact contact contact";
  overflow: hidden;
}

main h1 {
  position: relative;
  width: fit-content;
  grid-area: head;
}

main h1::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 2px;
  background-color: #fff;
  bottom: 0px;
}

main h1::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  background-color: #000;
  bottom: 0px;
  left: 0%;
}

.contact {
  grid-area: contact;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  flex-wrap: wrap;
}

.box {
  display: flex;
  width: calc(98% /3);
  height: 300px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  /* justify-content: space-between; */
  text-transform: capitalize;
  position:relative;
  display: flex;
  flex-direction: column;
}

.box .header h2 {
  font-size: 25px;
  height: fit-content;
  margin-top: 0px;
}

.box .header p {
  position: absolute;
  top: 35px;
  color: rgba(0, 0, 0, 0.479);
}

@media (min-width: 1000px) and (max-width: 1200px){
  .box {
    min-width: calc(97% /2);
  }
}

@media (max-width: 1000px) {
  .box {
    min-width: calc(97% /2);
    margin-left: 0px;

  }
}

@media (max-width: 700px) {
  .box {
    min-width: calc(100%);
  }
}



/* Start main */