/* Start user settings */


.profile-one {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  grid-area: user;
}

.profile-one .profile-aside {
  width: 200px;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.profile-aside h2 ,
.profile-aside p {
  margin: 5px 0px;
}

.profile-one .profile-aside::after {
  content: "";
  width: 1px;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.219);
  position: absolute;
  left: 200px;
}

.profile-one .profile-aside img {
  width: 130px;
}

.profile-one .left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.profile-one .left-side .slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 25%;
  position: relative;
}

.profile-one .left-side .slide .slide-one {
  margin-left: 20px;
}

.profile-one .left-side .slide:not(:last-child)::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.219);
  position: absolute;
}

.profile-one .left-side .slide:first-of-type::after {
  bottom: -6px;
}

.slide-four {
  padding-bottom: 10px;
}



.slide h2 ,
.slide p {
  color: rgba(0, 0, 0, 0.418);
}

.slide span {
  color: #000;
  font-weight: bold;
}

.profile-one .profile-aside span {
  width: 100%;
  height: 5px;
  background-color: rgba(128, 128, 128, 0.274);
  border-radius: 10px;
  position: relative;
}

.profile-one .profile-aside span::after {
  content: "";
  width: 75%;
  height: 5px;
  background-color: var(--twitter-bg);
  border-radius: 10px;
  position: absolute;
  left: 0px;
}

.stars i {
  color: gold;
}



/* End user settings */

/* Start user skills */

.my-skills {
  height: 350px;
  width: calc(100% / 3);
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.skills .group {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.skills .group:not(:last-child)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.116);
  left: 0px;
  bottom: -10px;
}

.skills .group p {
  color: #000;
  padding: 0px 5px;
  margin: 0px 5px 0px 0px ;
}

/* End user skills */

.last-activites {
  height: 350px;
  width: calc(100% / 1.51)
}



.last-activites .acticities-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.last-activites .acticities-bottom .group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
}

.last-activites .acticities-bottom .group .right-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.last-activites .acticities-bottom .group .right-side .text {
display: flex;
flex-direction: column;
width: fit-content;
}

.last-activites .acticities-bottom .group .right-side .text p ,
.last-activites .acticities-bottom .group .right-side .text h3 {
  margin: 3px;
}

.last-activites .acticities-bottom .group  p {
  color: rgba(0, 0, 0, 0.418);
}

.last-activites .acticities-bottom .group .right-side img {
  width: 60px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.last-activites .acticities-bottom .group .left-side {
  align-self: flex-end;
}

.last-activites .acticities-bottom .group .left-side p:first-of-type {
  color: #000;
}

.last-activites .acticities-bottom .group:not(:last-child)::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.096);
  position: absolute;
  bottom: 0px;
}


@media (max-width: 810px) {
  .profile-one {
    flex-direction: column;
    height: fit-content;
    align-items: center;
  }

  .profile-one .profile-aside::after {
    content: none;
  }

  .profile-one .left-side .slide {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 0px;
  }

  .profile-one .left-side .slide .slide-one {
    margin: 0px;
  }

  .profile-one .left-side .slide:not(:last-child)::after {
    position: relative;
    bottom: 0px;
  }

  .my-skills {
    width: 100%;
  }

  .last-activites {
    width: 100%;
  }

  .skills .group {
    justify-content: space-evenly;
  }

  .slide h3,
  .slide p {
    margin: 5px;
  }

  .profile-one .profile-aside span ,
  .profile-one .profile-aside .stars {
    margin: 5px;
  }

  .last-activites{
    height: fit-content;
  }

  .last-activites .acticities-bottom .group ,
  .last-activites .acticities-bottom .group .right-side 
  {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .last-activites .acticities-bottom .group .left-side{
    align-self: center;
  }
}

@media (max-width: 1000px) {
  .profile-one .left-side .slide {
    padding-right: 0px;
  }
}

@media (max-width: 1000px) and (min-width: 810px) {
  .last-activites {
    width: calc(99% / 2);
  }

  .my-skills {
    width: calc(99% / 2);
  }
}